{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags  %}
{% block title %}Login{% endblock %}
{% block container %}

<main class="container" style="margin-left: 300px;
              margin-top: 30px;
              margin-right: 300px;">
  <h1 >Пожалуйста войдите</h1>
  <form method="post">
      {% csrf_token %}

    {{ form|crispy }}
    <br>
    <button class="btn btn-success ml-2" type="submit">Войти</button>

    <a href="{% url 'password_reset'%}" class="link-primary">Забыли пароль?</a>
  </form>
</main>
{% endblock container %}