{% extends 'index.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block container %}
<style>
.row {
    --bs-gutter-x: 1.25rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.gallery-wrap {
    display: block;
    text-align: center;


    margin-bottom: 1rem;
    overflow: hidden;
    background-color: #fff;

}
.btn:hover {
	box-shadow: 0 2px 5px rgba(1, 1, 0, 1.45);
}
@media (min-width: 992px)
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.inpt_class{
    width: 40px;
}

</style>
<br>
<h4>
<nav aria-label="breadcrumb" style="margin-left: 20px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
      <li class="breadcrumb-item"><a href="{% url 'myshop:product_list' %}">Список товаров</a></li>
    <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{product.category }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
  </ol>
</nav>
</h4>

<hr><br>
<div class="d-flex">
    <div class="container">
        <div class="row">
            <!--Левая сторона у detail-->
            <aside class="col-lg-6">
                <article class="gallery-wrap" >
                    <img width="540px" height="510px" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %}{% endif %}">
                    </article>
            </aside>
            <!--Правая сторона у detail-->

            <div class="col-6" style="margin-top: 90px;">


                    <H3 class="title text-dark"> {{ product.name }} </H3><BR>
                    <div class="">
                    <div class="mb-3">
                        <h5>Цена в розницу: {{ product.price }} ₽ </h5><br>
                        {% if product.opt_price_if == 10000 %}
                        Оптовая цена не предусмотрена<br><br>
                        {% else %}
                        <h5 class="text-secondary">Оптовая цена: {{ product.opt_price }} ₽ при заказе от {{ product.opt_price_if }} штук</h5><br>
                        {% endif %}
                        {% if user.is_authenticated %}
                        {% if user.role == 1 %}
                            Вы вошли, как менеджер, поэтому не можете добавлять товар в корзину
                        {% else %}
                    <form  style="margin-top: 10px; margin-left: 14px; font-size: 19px;" action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <br>
                        <input class="btn btn-outline-success" style="margin-top: 10px;" type="submit" value="Добавить в корзину">
                    </form>
                            {% endif %}
                        {% else %}
                        Вы не вошли в аккаунт, поэтому не можете добавлять товары в корзину<br>

                  <a href="{% url 'login' %}" >Войти</a> Или <a href="{% url 'signup' %}"   >Зарегистрироваться</a>
            {% endif %}<br>{% if user.role == 1 %}
                        <br><h4>Действие с товаром:</h4><br>
                        <a href="{%url 'myshop:product_update' product.id %}" type="button" class="btn btn-success">Изменить</a>
                        <a href="{%url 'myshop:product_delete' product.id %}" type="button" class="btn btn-danger">Удалить</a>
                {% else %}  {% endif %}
                    </div>
                    </div>









            </div>
            <br><br>
            <br><br><br><br>
            <br>
            <br>
            <div style="margin-left: 130px; margin-top: 70px;">
<H3 >Описание и спецификация:</H3><br>

                        <p style=
"width:1000px; word-wrap:break-word; font-size: 20px;">{{ product.description }}</p>
            </div>
        </div>
    </div>



</div>
<br>
<br>
<br>
<br>
<br>




{% endblock container %}