{% extends 'index.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block container %}

<div class="product-detail">
<img src="{% if product.image %}{{ product.image.url }}{% else %}
{% static "img/no-image.png" %}{% endif %}">
<h1>{{ product.name }}</h1>
<h2>
<a href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
</h2>
    <p class="price"><h3>Цена: ₽{{ product.price }}</h3></p>
{{ product.description|linebreaks }}
    Количество: {{ product.amount }}
</div>
{% endblock container %}