{%extends 'index.html' %}
{% load static %}
{% block title %}Товары
{% endblock %}

{% block container %}

<style>
body{
	background: #ececec;
}

.content{
	margin-top: 50px;
    margin-top: 50px;
}
.product {

	border: 1px solid #c0c0c0;


	text-align: center;
	transition: all 0.5s ease 0s;
	margin-bottom: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.product:hover {
    box-shadow: 0 5px 5px 5px rgba(1, 0, 0, 0.25);
}
.btn:hover {
	box-shadow: 0 2px 5px rgba(1, 1, 0, 1.45);
}

.list-group-item:hover{
    background: #ececec;
}

.product-title  {
	color: #000;
	font-weight: 500;

}
.product-price {
	bottom: 15px;
	left: 0;

	width: 100%;
	color: #d51e08;
	font-size: 18px;
	font-weight: 500;
}</style>

</style>

<head>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->

  </head>

<div id="subheader">
    <div class="cart">

</div>
</div>

<div class="d-flex">


    <div class="container content position-fixed" style="margin-left: 20px; min-width:20rem;" >
        <div class="row">
            <div class="col-3 list-group" >

                {% if user.role == 1 %}
                <a class="btn btn-primary" href="{% url 'myshop:product_create' %}">Добавить товар</a>
                <br>
                <a class="btn btn-success" href="{% url 'myshop:category_create' %}">Добавить категорию</a>


                {% else %}  {% endif %}


                <form action="{% url 'myshop:search_results' %}"  method="get" class="col-12 mb-3 mb-lg-0 me-lg-3">
                                {% csrf_token %}

                            <input type="search" name="q" class="form-control form-input form-control-dark" placeholder="Поиск по товарам" aria-label="Search" >
                    </form><br>
                    <h3 class="list-group-item list-group-item-action border-0 active" style="background: #212529; margin-bottom: -2px;">Категории:</h3>
                    <a class="list-group-item list-group-item-action" {% if not category %}class="selected"{% endif %} href="{% url 'myshop:product_list' %}">Все</a>
                    {% for c in categories %}
                <div class="d-flex justify-content-between"><a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action" {% if category.slug == c.slug %}class="selected" {% endif %}>{{ c.name }}
                    {% if user.role == 1 %}<a class="btn btn-danger btn-sm" height="10px"  href="{% url 'myshop:category_delete' c.id %}">Удалить </a>
                    <a class="btn btn-success btn-sm" height="10px"  href="{% url 'myshop:category_update' c.id %}">Изменить </a>
                    {% endif %}    </a></div>


        {% endfor %}


            </div>

        </div>

    </div>






<div class="col-md-9 " style="margin-left: 370px;">

        <center>
        <h1 class=" position-sticky" style="margin-top: 20px;margin-right: 60px;">{% if category %}{{ category.name }}{% else %}Все категории{% endif %}</h1><br><br>
        </center>
        {% if products %}
        {% for product in products %}


        <div class="card product col-md-3" style="width: 405px; height: 580px;
                          text-align: center;
                          display: inline-block;
                          margin: 15px;">

            <div calss="card-header " >

                <div class="card-body" style="position: relative">

                    <a href="http://127.0.0.1:8000/product/{{ product.id }} ">
                            <img  width="320px" height="310px" src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no-image.png' %}{% endif %}" >
                    </a><br><br>
                    <h3 class="card-title text-break" style="max-width:400px;">{{ product.name|linebreaks }}</h3>
                    <div>
                        <h1>
                        <a href="http://127.0.0.1:8000/product/{{ product.id }} ">{{ post.product.name }}</a>
                        </h1>
                        <p style="font-size: 20px;">Цена: ₽{{ product.price }}</p>

                        {% if user.role == 1 %}
                            <a href="{%url 'myshop:product_update' product.id %}" type="button" class="btn btn-success">Изменить</a>
                            <a href="{%url 'myshop:product_delete' product.id %}" type="button" class="btn btn-danger">Удалить</a>
                        {% endif %}<br><br>
                        <a href="http://127.0.0.1:8000/product/{{ product.id }}" class="btn btn-primary" style="margin-bottom: 10px;">Подробнее</a>

                        <!-- ДОБАВИТЬ ЗДЕСЬ ПРОВЕРКУ ПОЛЬЗОВАТЕЛЯ НА ДОСТУП -->

                        </div>

                </div>
            </div>

        </div>

        {% endfor %}
    {% else %}
    <h1 class=" position-sticky" style="margin-top: 100px;margin-left: 570px;">Товаров нет</h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endif %}

</div>
</div>


{% endblock container %}