{%extends 'index.html' %}
{% load static %}
{% block title %}Товары
{% endblock %}

{% block container %}

<head>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->

  </head>
<a href="{% url 'myshop:product_create' %}" class="btn btn-primary">Добавить товар</a>

<h3>Категория</h3>
<ul>

    <li {% if not category %}class="selected"{% endif %}>
    <a href="{% url 'myshop:product_list' %}">Все</a>
    </li>
    {% for c in categories %}
    <li {% if category.slug == c.slug %}class="selected" {% endif %}>
    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
    </li>
    {% endfor %}
</ul>



<h1>{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>

{% for product in products %}
<div class="card" style="width: 600px;
                  text-align: center;

                  display: inline-block;
                  margin: 15px;">
    <div calss="card-header">
        <span class="font-weight-bold"><h4>{{ product.name }}</h4></span>
        <div class="card-body">
            <a href="http://127.0.0.1:8000/product/{{ product.id }} ">
                    <img width="400px" height="400px" src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no-image.png' %}{% endif %}" >
                </a>
            <div>
                <a href="http://127.0.0.1:8000/product/{{ product.id }} ">{{ post.product.name }}</a>

                <br>
                Количество: {{ product.amount }}<br>
                ₽{{ product.price }}
                    <br>

                <a href=" http://127.0.0.1:8000/product/{{ product.id }} " class="btn btn-primary">Подробнее</a>
                <a href="{%url 'myshop:product_delete' product.id %}" type="button" class="btn btn-danger">Удалить</a>

                </div>

        </div>
    </div>

</div>

{% endfor %}

{% endblock container %}