{%extends 'index.html'%}
{% load static %}
{% block title %}Форма обновления товара
{% endblock %}

{% block container %}

<style type="text/css" xmlns="http://www.w3.org/1999/html">
    {
  box-sizing: border-box;
}

input[type=text ], select, textarea, number {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=number ], select, textarea, number {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  height: 3rem;

}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=file] {

  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;

}

input[type=submit]:hover {
  background-color: #45a049;
}
input[type=textarea] {
  height: 10px;
}

.image{
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=text] {
  padding:10px;
  margin:10px 0; // add top and bottom margin
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }
  button{
    height: 50px;
    width: 100%;
    font-size: 22px;
  }


</style>

<div class="center" style="
                display:inline-block;

display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
                ">
    <br><h1>Форма изменения товара</h1><br>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}<br>
    <button class="btn btn-success" type="submit">Изменить товар</button>
    </form>
    {% if img_obj %}

        <h3 class="text-success">Товар {{img_obj.name}}, успешно изменен!</h3>
    <img WIDTH="300PX" height="300px"  src="{% if img_obj.image %}{{ img_obj.image.url }}{% else %}
{% static "img/no-image.png" %}{% endif %}
">{% else %} <h3 class="text-danger">Товар не изменен!</h3>


{% endif %}

</div>


{% endblock container %}
