{% extends 'index.html' %}
{% load static %}

{% block title %}
    Home page
{% endblock title %}

{% block container %}

<main class="container shadow-lg p-3 mb-5 bg-body rounded d-flex" style="margin-top: 100px;">

    <div class="col-md-6" style="margin-top: 50px; margin-left: 30px;">
      <h2  class="blog-post-title" class="pb-4 mb-4 border-bottom">
        Наш адрес:
      </h2>

      <article class="blog-post">
       <br>
            <p>РФ, 620100, Россия, Екатеринбург,<br>
Сибирский тракт 12, БК Квартал,
здание 2,&nbsp;вход 1, этаж 4, офис 400</p>
        <p></p>
        <hr>
          <h2  class="blog-post-title" class="pb-4 mb-4 border-bottom">
        Как с нами связаться?
      </h2>
          <br>

          <ol class="list-unstyled mb-0" style="margin-left:40px;">
            <li>+7 (343) 266-40-74</li>
              <li>+7 (344) 206-30-84</li>
            <li><a href="mailto:info@salus-ural.ru">info@salus-ural.ru</a></li>
          </ol>
      </article>
    </div>


        <div class="p-4">
            <div class="p-4 mb-3 bg-light rounded">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d272.91425724022633!2d60.651967!3d56.823401!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea215f5f913%3A0x6b09a9fba0b6de72!2z0KHQuNCx0LjRgNGB0LrQuNC5INGC0YDQsNC60YIsIDEyLCDQldC60LDRgtC10YDQuNC90LHRg9GA0LMsINCh0LLQtdGA0LTQu9C-0LLRgdC60LDRjyDQvtCx0LsuLCDQoNC-0YHRgdC40Y8sIDYyMDEwMA!5e0!3m2!1sru!2sus!4v1670561541954!5m2!1sru!2sus" width="520" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</main>
{% endblock container %}