{% extends 'index.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block container %}



<style>
  .hidden{
	display: none!important;
}
.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}
.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}
.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}



.chg-quantity:hover{
	opacity: .6;
}
.btn:hover {
	box-shadow: 0 2px 5px rgba(1, 1, 0, 1.45);
}

.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes a1 {
    to {
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}


</style>





{% if orders %}
{% for order in  orders %}


    <div class="container pt-3 box order_obr"  style="">
                 <div class="cart-row pt-3">
                     <div><strong>Заказ №{{ order.0.0 }}</strong> {% if user.role == 1 %} Пользователь - {{ order.0.1 }}
                         <br>Контактный телефон пользователя: {{ order.0.6 }}
                         <br>Почта пользователя:  {{ order.0.7 }}
                         {% endif %}<br> Адресс: {{order.0.2}}<br> Сумма заказа: {{order.0.3}} руб.
                         <br> Способ доставки: {{ order.0.5 }}<br>
                         Статус заказа: <strong>{{order.0.4}}</strong> {% if user.role == 1 %} <a class="" href="{% url 'orders:status_update' order.0.0 %}">Изменить статус</a>{% endif %}
                     </div>
                     <table class="table table-striped">
                         <thead>
                            <tr>
                              <th scope="col">Наименование товара</th>
                              <th scope="col">Количество</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for product in order.1 %}
                            <tr>
                              <th scope="row">{{ product.0 }}</th>
                              <td>{{ product.1 }}</td>
                            </tr>
                         {% endfor %}
                    </table>
          </div>
    </div>

{% endfor %}
{% else %}
<div class="container"><center><h1 style="margin-top: 100px;">Заказов нет!</h1></center></div>
{% endif %}
<br><br><br><br>
<script src="{% static '/js/filter.js' %}"></script>
{% endblock %}
